@{
    ViewData["Title"] = "Home Page";
}

<div class="card shadow-sm rounded min-vh-100">
    <div class="card-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="card-body px-4 py-2 overflow-auto">

    </div>
</div>