<div class="sidebar bg-light">
    <div class="sidebar-header">
        <div class="navbar-brand">
            My Solution
        </div>
    </div>
    <div class="sidebar-body">
        <div class="list-group" role="tablist" id="sidebar">
            <a class="list-group-item list-group-item-action border border-bottom-0" href="/">
                <div class="text-uppercase">Home</div>
            </a>
            <a class="list-group-item list-group-item-action border border-bottom-0" href="/">
                <div class="text-uppercase">Новости</div>
            </a>
            <a class="list-group-item list-group-item-action border border-bottom-0" href="/">
                <div class="text-uppercase">Организация</div>
            </a>
            <a class="list-group-item list-group-item-action border border-bottom-0" href="/">
                <div class="text-uppercase">Сотрудники</div>
            </a>
            <a class="list-group-item list-group-item-action border border-bottom-0" href="/">
                <div class="text-uppercase">Труд</div>
            </a>
            <a class="list-group-item list-group-item-action border border-bottom-0" href="/">
                <div class="text-uppercase">Обеспечение</div>
            </a>
        </div>
    </div>
</div>